*~
archiso-*.tar.gz*
work/
output/
*.iso
*.img
*.cer
*.crt
*.key
*.pem
user-data
meta-data

dogfood/*
!dogfood/README.md

# Frontend
configs/*/airootfs/**/orchid_ddm

/bridged/bridged
/libbridge/libbridge
/testcpp/testcpp
