*~
archiso-*.tar.gz*
orchidos-*.tar.gz*
work/
output/
*.iso
*.img
*.cer
*.crt
*.key
*.pem
user-data
meta-data

/*.protodb
configs/*/airootfs/usr/lib/orchid_ddm

/bridged/bridged
/libbridge/libbridge
/protodb/protodb

/firebase
