#
# /etc/udev/rules.d/99-block-storage.rules
#
ACTION=="add", KERNEL=="sd[b-z]", SUBSYSTEM=="block", RUN+="mount /dev/%k /media/%k"
ACTION=="remove", KERNEL=="sd[b-z]", SUBSYSTEM=="block", RUN+="umount -l /media/%k"
