#
# /etc/udev/rules.d/99-emmc-storage.rules
#
ACTION=="add", KERNEL=="mmcblk[0-9]*", SUBSYSTEM=="block", RUN+="mount /dev/%k /media/%k"
ACTION=="remove", KERNEL=="mmcblk[0-9]*", SUBSYSTEM=="block", RUN+="umount -l /media/%k"
