#
# /etc/udev/rules.d/99-microphone.rules
#
SUBSYSTEM=="usb", GROUP="audio", MODE="0660"
SUBSYSTEM=="sound", KERNEL=="pcmC[D0-9cp]*", GROUP="audio", MODE="0660"
